<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Online Shop Crawler</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Shop Crawler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Search Bar -->
      <h4 class="my-4">Search Everything from the Best Online Retailers</h4>

      <form class="example" method="post" action="{{ url_for('process') }}">
        <input type="text" placeholder="Search Products.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>

      <br>

      <!-- Bagdoom Promotion -->
      <h5 class="my-4">Advertisements, Deals, Offers from Bagdoom</h5>
      <div class="row">

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" >
              <a href="https://www.bagdoom.com/" target="_blank">
                <img class="img-fluid" src="/static/bagdoom_bag.jpg" alt="">
              </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12" >
              <a href="https://www.bagdoom.com/" target="_blank">
                <img class="img-fluid" src="/static/bagdoom_kristi.jpg" alt="">
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <a href="https://www.bagdoom.com/" target="_blank">
            <img class="img-fluid" src="/static/bagdoom_discount.jpg" alt="">
          </a>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" >
              <a href="https://www.bagdoom.com/" target="_blank">
                <img class="img-fluid" src="/static/bagdoom_delivery.jpg" alt="">
              </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12" >
              <a href="https://www.bagdoom.com/" target="_blank">
                <img class="img-fluid" src="/static/bagdoom_electronics.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <!-- Daraz Promotion -->
      <h5 class="my-4">Advertisements, Deals, Offers from Daraz</h5>
      <div class="row">

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" >
              https://www.daraz.com.bd/
              <a href="https://www.daraz.com.bd/" target="_blank">
                <img class="img-fluid" src="/static/daraz_laptop.jpg" alt="">
              </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12" >
              <a href="https://www.daraz.com.bd/" target="_blank">
                <img class="img-fluid" src="/static/daraz_phone.jpg" alt="">
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <a href="https://www.daraz.com.bd/" target="_blank">
            <img class="img-fluid" src="/static/daraz_offer.jpg" alt="">
          </a>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" >
              <a href="https://www.daraz.com.bd/" target="_blank">
                <img class="img-fluid" src="/static/daraz_wcup.jpg" alt="">
              </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12" >
              <a href="https://www.daraz.com.bd/" target="_blank">
                <img class="img-fluid" src="/static/daraz_deals.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <!-- ShoppersBD Promotion -->
      <h5 class="my-4">Advertisements, Deals, Offers from ShoppersBD</h5>
      <div class="row">

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" >
              <a href="http://www.shoppersbd.com/" target="_blank">
                <img class="img-fluid" src="/static/shoppersbd_shirt.jpg" alt="">
              </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12" >
              <a href="http://www.shoppersbd.com/" target="_blank">
                <img class="img-fluid" src="/static/shoppersbd_tshirt.jpg" alt="">
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <a href="http://www.shoppersbd.com/" target="_blank">
            <img class="img-fluid" src="/static/shoppersbd_promo.jpg" alt="">
          </a>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" >
              <a href="http://www.shoppersbd.com/" target="_blank">
                <img class="img-fluid" src="/static/shoppersbd_saree.jpg" alt="">
              </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12" >
              <a href="http://www.shoppersbd.com/" target="_blank">
                <img class="img-fluid" src="/static/shoppersbd_glass.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <!-- shoparu Promotion -->
      <h5 class="my-4">Advertisements, Deals, Offers from shoparu</h5>
      <div class="row">

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" >
              <a href="https://shoparu.com/" target="_blank">
                <img class="img-fluid" src="/static/shoparu_promo.png" alt="">
              </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12" >
              <a href="https://shoparu.com/" target="_blank">
                <img class="img-fluid" src="/static/shoparu_kid.jpeg" alt="">
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <a href="https://shoparu.com/" target="_blank">
            <img class="img-fluid" src="/static/shoparu_baul.jpeg" alt="">
          </a>
        </div>

        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" >
              <a href="https://shoparu.com/" target="_blank">
                <img class="img-fluid" src="/static/shoparu_electronics.jpeg" alt="">
              </a>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12" >
              <a href="https://shoparu.com/" target="_blank">
                <img class="img-fluid" src="/static/shoparu_deals.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>

    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ShopCrawler 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
